/api-gateway
/cloudformation/Lambda/nongit.txt
/cloudformation/ECS2/non-git
/cloudformation/ECS2/06_ungerw-alerting - ori.txt
/cloudformation/ECS2/06_ungerw-alerting.txt
/ECS/non-git
/ECS/non-git.txt
/k8/Makefile-Dashboard
/JenkinsX/readme.txt
/tmp
